<div class="main">
<%= video_tag "train.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="neon_text">
    <h1>Olá, Meu nome é</h1><h1><pre class="efeito">Lucas</pre> Silveira !</h1>
    <p>Eu desenvolvo aplicações web com Rails.</p>
    <%=image_tag("656349831.png", alt:"ícone Ruby on Rails") %>
  </div>
</div>